.coin-table {
    border-collapse: collapse;
  }

  .coin-table tr { 
    margin: 0;
    padding: 0;
  }

  .coin-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } 

  .coin-table tr td,
  .coin-table tr th  {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }